# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Production
dist

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# OS
Thumbs.db
